@CHARSET "UTF-8";

.imagemCentralizada {
	max-width: 100%;
	height: auto;
}

.corFundo {
	background-color: #FFF;
}

.painel {
	margin-left: auto;
	margin-right: auto;

}

.ui-widget, .ui-widget .ui-widget{
	font-size: 98% !important;
}